%div#content
  %div#header
    %h1.title Browsers Comparator
    %div.images
      %div.img_firefox
      %div.img_chrome
      %div.img_ie
      %div.img_opera
      %div.img_safari
  = @current_browser.os
  %table#tab_browsers
    %tr.browsers
      %th.empty_cell
      %th.current_browser
        = @current_browser.name
      - @browsers.each do |browser|
        %th
          = browser.name
    %tr.table_ligne
      %th.feature_name Version
      %td.current_browser
        = @current_browser.version
      - @browsers.each do |browser|
        %td
          = browser.versions.last.name

    %tr.table_ligne
      %th.feature_name Dernière mise a jour
      %td.current_browser 2009-04-09
      - @browsers.each do |browser|
        %td
          = browser.versions.last.date_release

    - @features.each do |feature|
      %tr.table_ligne
        %th.feature_name
          = feature.name
        %td.current_browser
          Oui/Non

        - @browsers.each do |browser|
          %td
            - if browser.last_version_has_feature?(feature)
              = "Oui"
            - else
              = "Non"
  %div#footer
    %div.copyright
      Copyright © 2012 - RougeCardinal
