%div#content
  %div#header
    %h1.title Browsers Comparator
    %div.images
      %div.img_firefox
      %div.img_chrome
      %div.img_ie
      %div.img_opera
      %div.img_safari
  %table#tab_browsers
    %tr.browsers
      %th.empty_cell
      %th.current_browser
        = @current_browser.name
      - @browsers.each do |browser|
        %th.other_browser
          = browser.name
    %tr.table_ligne
      %th.feature_name Version
      %td.current_browser
        = @current_browser_version.name
      - @browsers.each do |browser|
        %td.other_browser
          = browser.versions.last.name

    %tr.table_ligne
      %th.feature_name Dernière mise a jour
      %td.current_browser
        = @current_browser_version.date_release
      - @browsers.each do |browser|
        %td.other_browser
          = browser.versions.last.date_release

    - @features.each do |feature|
      %tr.table_ligne
        %th.feature_name
          = feature.name
        %td.current_browser
          - if @current_browser.last_version_has_feature?(feature)
            = "Oui"
          - else
            = "Non"
        - @browsers.each do |browser|
          - if browser.last_version_has_feature?(feature)
            %td.other_browser_has
              = "Oui"
          - else
            %td.other_browser_has_not
              = "Non"

  %div#footer
    %div.copyright
      Copyright © 2012 - Rouge Cardinal
