%html
  %head
    %title Browser comparator
  %body
    %table#tab_browsers
      %tr.browsers
        %th
        %th.current_browser IE (current Browser)
        - @browsers.each do |browser|
          %th
            = browser.name
      %tr
        %th Version
        %td.current_browser 7
        - @browsers.each do |browser|
          %td
            = browser.versions.last.name
          
      %tr
        %th Dernière mise a jour
        %td.current_browser 2009-04-09
        - @browsers.each do |browser|
          %td
            = browser.versions.last.date_release
      
      - @features.each do |feature|
        %tr
          %th  
            = feature.name
          %td.current_browser
            Oui/Non
            
          - @browsers.each do |browser|
            %td
              - if browser.last_version_has_feature?(feature)
                = "Oui"
              - else
                = "Non"
              