#content
  #header
    %h1.title Browsers Comparator
    %div.images
      .img_firefox
      .img_chrome
      .img_ie
      .img_opera
      .img_safari
  %table#tab_browsers
    %tr.browsers
      %th.empty_cell
      %th.current_browser
        = @current_browser.name
      - @last_versions.each do |version|
        %th.other_browser
          = version.browser_family.name
    %tr.table_line
      %th.feature_name Version
      %td.current_browser
        = @current_browser_version.name
      - @last_versions.each do |version|
        %td.other_browser
          = version.name

    %tr.table_line
      %th.feature_name Dernière mise a jour
      %td.current_browser
        = @current_browser_version.date_release
      - @last_versions.each do |version|
        %td.other_browser
          = version.date_release

    - @features.each do |feature|
      %tr{class: "#{current_browser_has_feature(feature)}"}
        %th.feature_name
          = feature.name
        %td.current_browser
          - if @current_browser.last_version_has_feature?(feature)
            = "Oui"
          - else
            = "Non"
        - @last_versions.each do |version|
          = compare_features_value(version, feature)
  #footer
    .copyright
      Copyright © 2012 - Rouge Cardinal
