#content
  #header
    %h1.title Browsers Comparator
    %div.images
      .img_firefox
      .img_chrome
      .img_ie
      .img_opera
      .img_safari
  %table#tab_browsers
    %tr.browsers
      %th.empty_cell
      %th.current_browser
        = @current_browser.name
      - @browsers.each do |browser|
        %th.other_browser
          = browser.name
    %tr.table_line
      %th.feature_name Version
      %td.current_browser
        = @current_browser_version.name
      - @browsers.each do |browser|
        %td.other_browser
          = browser.versions.last.name

    %tr.table_line
      %th.feature_name Dernière mise a jour
      %td.current_browser
        = @current_browser_version.date_release
      - @browsers.each do |browser|
        %td.other_browser
          = browser.versions.last.date_release

    - @features.each do |feature|
      %tr.table_line
        %th.feature_name
          = feature.name
        %td.current_browser
          - if @current_browser.last_version_has_feature?(feature)
            = "Oui"
          - else
            = "Non"
        - @browsers.each do |browser|
          = compare_features_value(browser, feature)
          
  #footer
    .copyright
      Copyright © 2012 - Rouge Cardinal
