%ul.browsers_list
  - @browsers.each do |browser|
    .browser
      %li.list_image
        = browser_image(browser.name)
      %li.browser_name
        = browser.name
      %li
        %p
          = browser.description
      .link
        %li.link_society
          = link_to "Site de #{browser.prod_society}", browser.link, target: '_blank'

%br
%p.see_more
  = link_to "See more", index_path
%br
