!!!
%html
  %head
    %meta{:author => 'Rouge Cardinal'}
    %title Browser comparator
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #content
      #header
        %h1.title 
          = link_to 'Browsers Comparator', root_path
        %div.images
          .img_firefox
          .img_chrome
          .img_ie
          .img_opera
          .img_safari

      = yield
      #footer
        .copyright
          Copyright © 2012 -
          = link_to "Rouge Cardinal", "http://rougecardinal.fr/", target: '_blank'
        .language
          = t 'choose_language'
          = form_tag change_locale_path, method: :get do
            = select_tag "locale_name", options_for_select(available_language, :selected => I18n.locale)